@media (orientation: portrait) {
    .map-map-help .map-help-thumb img {
        height: 30vh;
    }
    
    .map-map-help .map-help-thumb {
        text-align: center;
    }
    
    .map-map-help .map-help-thumb div {
        display: inline-block;
        position: relative;
    }

    .map-map-help {
        flex-direction: column;
    }    
    .map-map-help ul {
        vertical-align: top;
    }
}
@media (orientation: landscape) {
    .map-map-help .map-help-thumb img {
        width: 30vw;
    }
    
    .map-map-help .map-help-thumb > div.rotate-90,
    .map-map-help .map-help-thumb > div.rotate-270 {
          margin: 0 calc((1 - var(--map-ratio)) * 0.5 * 30vw);
    }
    
    .map-map-help .map-help-thumb {
        text-align: center;
        display: inline-block;
        margin-right: 20px;
        height: 100%;
    }
    
    .map-map-help .map-help-thumb div {
        display: inline-block;
        position: relative;
    }
    
    .map-map-help ul {
        height: 100%;
        display: inline-block;
        vertical-align: top;
    }
}

.map-map-help {
    display: flex;
}
.map-map-help ul {
    list-style-type: none;
    margin: 0;
    padding: 0;    
    overflow: auto;
    flex: 1;
}



.map-help-rule-title, .map-help-rule-description, .map-help-rule-areas {
    display: block;
    font-family: 'Secondary';
}

.map-help-rule-title:before {
    content: attr(data-num);
    border: 5px solid #000;
    border-radius: 20px;
    margin-right: 7px;
    display: inline-block;
    width: 16px;
    height: 16px;
    text-align: center;
    font-size: calc(var(--secondary-size) * 1.4375rem);
    line-height: calc(var(--secondary-size) * var(--secondary-line-height) * 26px)
}
.map-help-rule-title {
    font-weight: bold;    
    font-size: calc(var(--secondary-size) * 1.625rem);
    line-height: calc(var(--secondary-line-height) * 1.625rem);
}

.map-help-legend {
    position: absolute;
    background-color: #000000;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    width: 20px;
    height: 20px;
    font-size: calc(var(--secondary-size) * 1.25rem);
    line-height: calc(var(--secondary-size) * 26px);
    font-family: 'Secondary';
    text-shadow: 0px 0px 3px #000;
    z-index: 1;
}

.map-map-help .map-help-thumb > div.rotate-0 .map-help-legend { transform: translate(-10px, -10px) rotate(0deg); }
.map-map-help .map-help-thumb > div.rotate-90 .map-help-legend { transform: translate(-10px, -10px) rotate(90deg); }
.map-map-help .map-help-thumb > div.rotate-180 .map-help-legend { transform: translate(-10px, -10px) rotate(180deg); }
.map-map-help .map-help-thumb > div.rotate-270 .map-help-legend { transform: translate(-10px, -10px) rotate(270deg);}

.map-help-rule-title[data-num='1']:before { border-color: #2F5496; }
.map-help-legend[data-num='1'] { background-color: #2F5496; }
.map-help-rule-title[data-num='2']:before { border-color: #538135; }
.map-help-legend[data-num='2'] { background-color: #538135; }
.map-help-rule-title[data-num='3']:before { border-color: #C10512; }
.map-help-legend[data-num='3'] { background-color: #C10512; }
.map-help-rule-title[data-num='4']:before { border-color: #BF9000; }
.map-help-legend[data-num='4'] { background-color: #BF9000; }
.map-help-rule-title[data-num='5']:before { border-color: #555555; }
.map-help-legend[data-num='5'] { background-color: #555555; }
.map-help-rule-title[data-num='6']:before { border-color: #C55A11; }
.map-help-legend[data-num='6'] { background-color: #C55A11; }

.map-help-rule-description, .map-help-rule-areas {
    padding-left: 33px;
    font-size: calc(var(--secondary-size) * 1.5625rem);
    line-height: calc(var(--secondary-line-height) * 1.25rem);
}
.map-help-rule-areas .map-help-rule-areas-square {
    width: 18px;
    height: 14px;
    display: inline-block;
    border: 1px solid #000;
    margin: 0 12px 0 3px;;
    vertical-align: middle;
    top: -2px;
    position: relative;
}

.map-map-help .map-help-rule-description img {
    width: 25px;
    height: 25px;
    vertical-align: sub;
    display: inline;
}




