.map-index > ul > li > a > .map-index-board-legend {
    font-family: 'Hyborian';
}
.map-index > ul > li > a > .map-index-board-sublegend {
    font-family: 'Moolbor';
}

.map-map .map-map-wrapper.map-map-wrapper-display-help:before {
    font-family: "Hyborian";
}

.map-help-legend,
.map-help-rule-title, .map-help-rule-description, .map-help-rule-areas {
    font-family: 'Moolbor';
}
