.search-engine {
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    width: 180px;
    height: 100%;
    padding: 5px;
}
.search-engine .facet > span {
    display: block;
    margin-bottom: 2px;
    white-space: nowrap;
}
.search-engine .facet > span span {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Secondary';
    padding-top: 4px;
    margin-left: 5px;
    line-height: calc(var(--secondary-line-height) * 0.5rem);
}
.search-engine .facet > span span:before { content: "("; }
.search-engine .facet > span span:after { content: ")"; }


.search-engine .facet input[type=text] {
    width: 100%;
}

.search-engine .facet label * {
    display: inline-block;
    vertical-align: top;
}
.search-engine .facet label {
    white-space: nowrap;
    display: block;
    font-size: calc(var(--secondary-size) * 1.4rem);
    font-family: 'Secondary';
    line-height: calc(var(--secondary-line-height) * 1.68rem);
    height: 18px;
}

.search-engine .facet label:after {
    content: " (" attr(data-count) ")";
}

.search-engine .facet[data-count='0']:not(.checked),
.search-engine .facet label[data-count='0']:not(.checked) {
    display: none;
}



.search-engine .facet a {
    display: none;
    text-align: center;
    text-decoration: none;
    color: #000;
}

.search-engine .facet[data-mode=hide] a:before {
    font-family: "Font Awesome 5 Free";
    content: "\f13a";
}
.search-engine .facet[data-mode=show] a:before {
    font-family: "Font Awesome 5 Free";
    content: "\f139";
}

.search-engine.collapsible .facet label:not([data-count='0']) ~ label:not([data-count='0']) ~ label:not([data-count='0']) ~ label:not([data-count='0']) ~ a { display: block; }
.search-engine.collapsible .facet[data-mode=hide] label:not([data-count='0']) ~ label:not([data-count='0']) ~ label:not([data-count='0']) ~ label:not([data-count='0']) { display: none; }