:root {
    --main-color: #59BEF9;
    --highlight-color: #ED7F33;
    
    --header-bg-color: #252525;
    --header-color: var(--main-color);
    --header-title-color: var(--header-color); 
    --header-menu-color: var(--header-color); 
    --header-icon-color: var(--header-color);
    --header-icon-bg-color: #3F718F; 
        
    --floating-icon-color: #000;
    --floating-icon-bgcolor: #59BEF9;
    --floating-icon-hover-bgcolor: #89DEFF;
    --floating-icon-active-bgcolor: #a9FFFF;
    
    --tabs-color:  var(--header-color);
    --tabs-bg-color:  var(--header-bg-color);
    
    --body-color: #1b1b1b;
    --body-bg-color: #f6f5ef;
    
    --dialog-header-bg-color: #252525;
    --dialog-header-color: #59BEF9;
    --dialog-header-action-color: var(--dialog-header-bg-color); 
    --dialog-header-action-bg-color: var(--dialog-header-color); 
    --dialog-header-back-color: var(--highlight-color);
    --dialog-color: var(--body-color);    
    --dialog-bg-color: var(--body-bg-color);
    
    --footer-bg-color: #1B1A1B;
    --footer-link-color: #565555;
    --footer-active-link-color: var(--main-color);
    --footer-active-link-bg-color: transparent;
    
    --menu-bg-color: #ededed;
    --menu-color: #252525;
    --menu-active-color: var(--highlight-color);
    
    --rules-skills-title-color: #0d71a0;
    --rules-skills-text-color: #var(--body-color);
}

.menu > div > ul {
    padding-top: 180px;
}
.menu > div > ul:before {
    background-image: url(../about/logo-light.png);
    height: 120px;
}
.menu > div > ul:after {
    background-image: url(../about/companion4monolith-small.png);
}

ul.floatingactions li a span {
    padding-top: 0;
}

#rules #skills h2 { background-color: var(--header-bg-color); color: var(--main-color); }

.map-index > ul > li { padding: 1px; background-color: #0d71a0; }

@media screen and (max-width: 700px) {
    :root {
        --header-icon-opacity: 0.7; 
        --header-icon-bg-color: var(--header-bg-color); 
        --dialog-header-action-color: var(--dialog-header-color); 
        --dialog-header-action-bg-color: var(--dialog-header-bg-color); 
    }
}
