.map-map-help {
    font-family: 'Primary';
    font-size: calc(var(--primary-size) * 1rem);
}
.map-map-help .map-help-thumb img {
    /*max-height: calc(100vh - 64px - 56px - 20px - 20px);*/
    width: 100%;
    max-width: calc(100vw - 20px - 20px);
    object-fit: contain;
}

.map-map-help .map-map-legend {
    display: inline-block;
    vertical-align: top;
    margin: 10px 5px 0;
    padding: 0 10px 10px 10px;
    border: 1px solid #f2981a;
    border-top-width: 0;
    background-color: #F8F9F4;
    color: #1b1b1b;
}

.map-map-help .map-help-thumb {
    text-align: center;
}

.map-map-help .map-help-thumb div {
    display: inline-block;
    position: relative;
}

@media screen and (min-width: 1366px) {
    .map-map-help {
        display: flex;
    }
    .map-map-help .map-help-thumb {
        flex: 1;
    }
    .map-map-help .map-map-legends {
        width: 382px;
    }
}

.map-map-help .map-map-legend h1 {
    border-bottom: 1px solid #f2981a;
    margin: 0 -11px 10px;
    background-color: var(--body-bg-color);
}

.map-map-help .map-map-legend div {
    font-size: calc(var(--primary-size) * 0.8rem);
}
.map-map-help .map-map-legend h1 div {
    text-transform: uppercase;
    font-size: calc(var(--primary-size) * 0.7rem);
    color: #FFF;
    background-color: #F2981A;
    text-align: center;
    position: relative;
    width: 156px;
    margin: 0 auto -1px 2px;
    padding-top: 2px;
}
.map-map-help .map-map-legend h1 div::after,
.map-map-help .map-map-legend h1 div::before {
    content: " ";
    position: absolute;
    top: -7px;
    border: 7px solid transparent;
}
.map-map-help .map-map-legend h1 div::before { border-left: 7px solid var(--body-bg-color); left: 0; }
.map-map-help .map-map-legend h1 div::after { border-right: 7px solid var(--body-bg-color); right: 0; }

.map-map-help .map-map-legend > div {
    padding: 5px;
}

.map-map-help .map-map-legend hr {
    width: 0;
    height: 0;
    margin: 1px;
    opacity: 0;
}

/* ELEVATION */
.map-map-help .map-map-legend-elevation {
    width: 160px;
}
.map-map-help .map-map-legend-elevation > div {
    display: flex;
    align-items: center;
}
.map-map-help .map-map-legend-elevation span {
    flex: 1;
    line-height: calc(var(--primary-line-height) * 0.7rem);
}
.map-map-help .map-map-legend-elevation span:first-child {
    flex: unset;
    width: 20px;
    height: 20px; 
    margin-right: 5px;
}

/* BOUNDARIES */
.map-map-help .map-map-legend-boundaries {
    width: 170px;
}
.map-map-help .map-map-legend-boundaries > div {
    display: flex;
    align-items: center;
}
.map-map-help .map-map-legend-boundaries span {
    line-height: calc(var(--primary-line-height) * 0.7rem);
    flex: 1;
}
.map-map-help .map-map-legend-boundaries span:first-child { 
    flex: unset;
    width: 40px;
    height: 20px; 
    margin-right: 5px;
    background-position: center;
    background-repeat: no-repeat;
}

/* SPECIAL MOVES */
.map-map-help .map-map-legend-specialmoves {
    width: 372px;
    max-width: 92vw;
}
.map-map-help .map-map-legend-specialmoves > div {
    font-weight: 100;
    display: flex;
    align-items: center;
}
.map-map-help .map-map-legend-specialmoves span {
    line-height: calc(var(--primary-line-height) * 0.8rem);
    flex: 1;
}
.map-map-help .map-map-legend-specialmoves span:first-child {
    flex: unset;
    width: 20px;
    height: 40px; 
    margin-right: 5px;
    background-position: center;
    background-repeat: no-repeat;
}

/* AREAS */
.map-map-help .map-map-legend-areas {
    width: 250px;
}
.map-map-help .map-map-legend-areas > div {
    display: flex;
    align-items: center;
}
.map-map-help .map-map-legend-areas span {
    line-height: calc(var(--primary-line-height) * 0.7rem);
    flex: 1;
}
.map-map-help .map-map-legend-areas span:first-child { 
    flex: unset;
    width: 40px;
    height: 50px;
    margin-right: 15px;
    background-position: center;
    background-repeat: no-repeat;
}

.map-map-help .map-map-legend-areas .map-map-legend-areas-elevators_entrance span:first-child {
    height: 60px;
}
.map-map-help .map-map-legend-areas .map-map-legend-areas-elevator_orientation span {
    font-weight: 100;
}