:root {
    --main-color: #FEFFFF;
    --highlight-color: #ff7900;
    
    --header-bg-color: #312420;
    --header-color: var(--main-color);
    --header-title-color: var(--header-color); 
    --header-menu-color: var(--header-color); 
    --header-icon-color: var(--header-color); 
    
    --floating-icon-color: #fff;
    --floating-icon-bgcolor: #312420;
    --floating-icon-hover-bgcolor: #422a21;
    --floating-icon-active-bgcolor: #542f23;
    
    --tabs-color:  var(--header-color);
    --tabs-bg-color:  var(--header-bg-color);
    
    --body-color: var(--main-color);
    --body-bg-color: #151515;
    
    --dialog-header-bg-color: var(--header-bg-color);
    --dialog-header-color: var(--main-color);
    --dialog-header-action-color: var(--dialog-header-color); 
    --dialog-header-back-color: var(--highlight-color);
    --dialog-color: var(--body-color); 
    --dialog-bg-color: var(--body-bg-color);
    
    --footer-bg-color: #312420;
    --footer-link-color: #565555;
    --footer-active-link-color: var(--highlight-color);
    --footer-active-link-bg-color: transparent;
    
    --menu-bg-color: #ededed;
    --menu-color: var(--dialog-header-bg-color);
    --menu-active-color: var(--highlight-color);
    
    --rules-skills-title-color: var(--main-color);
    --rules-skills-text-color: var(--body-color);
}

.menu > div > ul {
    padding-top: 180px;
}
.menu > div > ul:before {
    background-image: url(../about/logo-light.png);
    height: 120px;
}

.map-index > ul > li { padding: 2px; background-color: #9C928E; }

::-webkit-scrollbar-track { background-color: #252525; }
