:root {
    --main-color: #542f23;
    --highlight-color: #ff7900;
    
    --header-bg-color: #f8f6f6;
    --header-color: var(--main-color);
    --header-title-color: var(--header-color); 
    --header-menu-color: var(--header-color); 
    --header-icon-color: var(--header-color); 
    --header-icon-bg-color: #D7CECC; 
    
    --floating-icon-color: #fff;
    --floating-icon-bgcolor: #542f23;
    --floating-icon-hover-bgcolor: #845f53;
    --floating-icon-active-bgcolor: #a48f83;
    
    --tabs-color:  var(--header-color);
    --tabs-bg-color:  transparent;
    
    --body-color: #000;
    --body-bg-color: #f8f6f6;
    
    --dialog-header-bg-color: var(--main-color);
    --dialog-header-color: #fff;
    --dialog-header-action-color: var(--dialog-header-bg-color); 
    --dialog-header-action-bg-color: var(--dialog-header-color); 
    --dialog-header-back-color: var(--highlight-color);
    --dialog-color: var(--body-color);
    --dialog-bg-color: var(--body-bg-color);
    
    --footer-bg-color: #C2C2C3;
    --footer-link-color: #3C3C3C;
    --footer-active-link-color: #fff;
    --footer-active-link-bg-color: var(--main-color);
    
    --menu-bg-color: #ededed;
    --menu-color: var(--main-color);
    --menu-active-color: var(--highlight-color);
    
    --rules-skills-title-color: var(--main-color);
    --rules-skills-text-color: var(--body-color);
}

.menu > div > ul {
    padding-top: 180px;
}
.menu > div > ul:before {
    background-image: url(../about/logo-light.png);
    height: 120px;
}
.menu > div > ul:after {
    background-image: url(../about/companion4monolith-small.png);
}

@media screen and (max-width: 700px) {
    :root {
        --header-icon-opacity: 0.7; 
        --header-icon-bg-color: var(--header-bg-color); 
        --dialog-header-action-color: var(--dialog-header-color); 
        --dialog-header-action-bg-color: var(--dialog-header-bg-color); 
    }
}

