#encyclopedia-token {
    font-family: 'Primary';
    position: relative;
}
#encyclopedia-token-wrapper {
    margin-left: var(--search-placeholder);
}

#encyclopedia-token-wrapper a {
    position: relative;
}

div.token-wraperindetails {
    display: inline-block;
    vertical-align: top;
}

div.token-wrapindetails .othertoken,
#encyclopedia-token-wrapper .othertoken {
    display: inline-block;
    vertical-align: top;
    width: 160px;
    height: 160px;
    overflow: hidden;
    position: relative;
    margin: 2px;
    background-color: #dfdfdf;
}

div.token-wrapindetails  .othertoken img,
#encyclopedia-token-wrapper .othertoken img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.token-wrapindetails  .othertoken .name,
#encyclopedia-token-wrapper .othertoken .name {
    position: absolute;
    bottom: 0;
    left: 0; 
    right: 0;
    text-align: center;
    font-family: 'Primary';
    font-size: 16px;
    background-color: rgba(0,0,0,0.3);
    color: #fff;
}

div.token-wrapindetails,
#encyclopedia-token-wrapper a {
    position: relative;
    display: inline-block;
}

div.token-wrapindetails[data-count]::after,
#encyclopedia-token-wrapper a[data-count]::after {
    content: 'x' attr(data-count);
    position: absolute;
    z-index: 2;
    top: 10%;
    right: 0;
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 18px;
    font-family: "Primary";
    text-align: center;
    background-color: #e64443;
    color: #ffffff;
    border-radius: 100%;
    text-align: center;
}

div.token-wrapindetails[data-count='1']::after,
#encyclopedia-token-wrapper a[data-count='1']::after {
    content: none;
}



div.token-wrapindetails .othertoken .img {
  width: 100%;
  height: 100%;
  position: relative;
}
div.token-wrapindetails .othertoken img {
    transform: translate(-50%, -50%);
}
div.token-wrapindetails .othertoken img.back {
    z-index: 1;
    transform: translate(-65%, -50%);
}
div.token-wrapindetails .othertoken img.back + img {
    transform: translate(-35%, -65%);
}






.tokendetails .models {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 270px;
}

.tokendetails .models a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.tokendetails .models a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.tokendetails .models a > span {
    display: block;
    position: absolute;
    font-family: 'Primary';
    font-size: 16px;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px;
    color: #fff;
    background-color: rgba(0,0,0,0.3);
}
.tokendetails .models a > span > span {
    font-size: 60%;
}
