.skillsdetails .heroes,
.skillsdetails .tiles,
.skillsdetails .equipments,
.skillsdetails .spells {
    line-height: 20px;
    margin: 10px 0;
}

.skillsdetails .tokens .othertoken {
    display: inline-block;
    vertical-align: top;
    width: 160px;
    height: 160px;
    overflow: hidden;
    position: relative;
    margin: 2px;
    background-color: #dfdfdf;
}

.skillsdetails .tokens .othertoken img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.skillsdetails .tokens .othertoken .name {
    position: absolute;
    bottom: 0;
    left: 0; 
    right: 0;
    text-align: center;
    font-family: 'Primary';
    font-size: calc(var(--primary-size) * 1rem);
    background-color: rgba(0,0,0,0.3);
    color: #fff;
}
