#rules #skills {
    overflow: auto;    
    box-sizing: border-box;
    font-family: 'Hyborian';
}
#rules #skills > div {
    padding: 10px;
}

#rules .skills-skill {
    margin-bottom: 10px;
    width: 50%;
    padding-right: 5px;
    display: inline-block;
    vertical-align: top;  
}

.skill-tab h2 {
    margin-top: 0.4em;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 5px 0;
}

#rules .skills-skill .clear,
.dialog .skills-skill .clear {
    clear: both;  
}
#rules .skills-skill > img,
.dialog .skills-skill > img {
    float: left;
    margin-right: 12px;
    margin-bottom: 4px;
    width: 80px;
}
#rules .skills-title,
.dialog .skills-title  {
    margin-bottom: 5px;
}
#rules .skills-text,
.dialog .skills-text {
    font-family: 'Moolbor';
    font-size: 22px;
    line-height: 20px;
    color: #000;
}

.dialog a.openskill:hover {
    text-decoration: none;
}
.dialog a:hover.openskill .skills-title {
    text-decoration: underline;
}


#rules .rules-character,
.dialog .rules-character  {
    margin: 0;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    display: inline;
}

#skills a {
    color: #000000;
}


.skillsdetails .heroes,
.skillsdetails .tiles,
.skillsdetails .equipments,
.skillsdetails .spells {
    line-height: 20px;
    margin: 10px 0;
}


@media screen and (max-width: 536px) {
    #rules .skills-skill {
        width: 100%;
        padding-right: 0;
    }
}
@media screen and (min-width: 1024px) {
    #rules .skills-skill {
        width: 33.3%;
    }
}

.skillsdetails .tokens .othertoken {
    display: inline-block;
    vertical-align: top;
    width: 160px;
    height: 160px;
    overflow: hidden;
    position: relative;
    margin: 2px;
    background-color: #dfdfdf;
}

.skillsdetails .tokens .othertoken img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.skillsdetails .tokens .othertoken .name {
    position: absolute;
    bottom: 0;
    left: 0; 
    right: 0;
    text-align: center;
    font-family: 'Hyborian';
    font-size: 16px;
    background-color: rgba(0,0,0,0.3);
    color: #fff;
}
